.editable-time {
  display: flex;
  justify-content: center;

  span {
    font-family: "SF Pro Display";
    font-size: 83px;
    font-weight: 200;
    color: #ffffff;
    letter-spacing: -0.24px;
    align-items: center;
  }
}
