<div class="lock-screen__notification">
    <div class="top-row">
        <div class="app-icon-name">
            <img class="icon" src="../assets/icons/imessage-icon.svg" alt="">
            <span class="name" *ngFor="let name of appName">{{name}}</span>
        </div>
        <div class="right-item">
            <span>now</span>
        </div>
    </div>
    <div class="notification-content">
        <div class="title">
            <span>Title</span>
        </div>
        <div class="description">
            <span>Notification text would be placed right here. This is where notification text would be placed.</span>
        </div>
    </div>
</div>