.screen-light__default {
  width: 375px;
  height: 475px;
  margin-left: calc((100vw - 375px) / 2);
  background: url(../assets/images/Wallpaper.png);
  background-repeat: no-repeat;
  background-size: auto;
}
