.lock-screen__date {
  span {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
}
