/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/sf-pro-text-regular.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Regular.ttf");
}
